server {
    listen 80;
    server_name {{ server_name }};

    root {{ web_root }};
    index index.html index.htm;

    access_log /var/log/nginx/{{ server_name }}.access.log;
    error_log /var/log/nginx/{{ server_name }}.error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}

